@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
	themes: all;
}

@layer components {
	.btn:active:not(.btn-active) {
		translate: 0 !important;
	}
}

@font-face {
	font-family: 'Estedad';
	src:
		url('fonts/Estedad[wght].woff2') format('woff2 supports variations'),
		url('fonts/Estedad[wght].woff2') format('woff2-variations');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	font-feature-settings:
		'ss01' off,
		'ss02' off,
		'ss03' on,
		'ss10' on,
		'ss11' on,
		'ss12' off,
		'ss20' on;
}

html {
	font-size: 1.05rem;
	--default-font-feature-settings: 'ss01' off, 'ss02' off, 'ss03' on, 'ss10' on, 'ss11' on, 'ss12' off, 'ss20' on;
}

html,
body {
	font-family: 'Estedad';
}

.main-container {
	height: calc(100vh - 134px);
}
